.btnWrap {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.description {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

input {
  border: 3px solid gray;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
}
