.wraper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 250px;
  border: 3px solid coral;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.userName,
.userPhone {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.infoWrap {
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid grey; /* Колір рамки кнопки */
  color: coral; /* Колір тексту кнопки */
  border-radius: 15px; /* Закруглені кути */
  transition: background-color 0.3s ease; /* Плавна зміна колірного фону при наведенні */
}

.icon {
  fill: coral;
  margin-right: 5px;
}
